<?php

return [
    'DEBUG' => false,
    'DB_NAME' => 'my_api_db',
    'DB_USER' => 'root',
    'DB_PASSWORD' => '',
    'DB_HOST' => '127.0.0.1',
    'DB_PORT' => 3306,
    'BEANSTALKD_HOST' => '127.0.0.1',
    'BEANSTALKD_PORT' => 11300,

    //> JsonRpc Server 配置
    'JSONRPC_USERNAME' => 'SystemRpcAdmin',
    'JSONRPC_PASSWORD' => '',
    //< JsonRpc Server 配置

    //> JsonRpc Client 配置
    'JSONRPC_EXAMPLE_ADDR' => '',
    'JSONRPC_EXAMPLE_USERNAME' => 'SystemRpcAdmin',
    'JSONRPC_EXAMPLE_PASSWORD' => '',
    //< JsonRpc Client 配置
];