<?php

return [
    'DEBUG' => false,
    'DB_NAME' => 'api_example',
    'DB_USER' => 'root',
    'DB_PASSWORD' => '',
    'DB_HOST' => '127.0.0.1',
    'DB_PORT' => 3306,
    'BEANSTALKD_HOST' => '127.0.0.1',
    'BEANSTALKD_PORT' => 11300,
];