<?php

return [
    'DEBUG' => false,
    'DB_NAME' => 'example',
    'DB_USER' => 'root',
    'DB_PASSWORD' => '',
    'DB_HOST' => '127.0.0.1',
    'DB_PORT' => 3306,
    'BEANSTALKD_HOST' => '127.0.0.1',
    'BEANSTALKD_PORT' => 11300,

    //> JsonRpc Server 配置
    'JSONRPC_ALLOWED_IPS' => '127.0.0.1', // 运行调用的IP白名单，多个IP以逗号隔开
    'JSONRPC_USERNAME' => 'SystemRpcAdmin',
    'JSONRPC_PASSWORD' => '1234567890',
    //< JsonRpc Server 配置

    //> JsonRpc Client 配置
    'JSONRPC_EXAMPLE_ADDR' => 'http://example-rpc.local:8008/jsonrpc.php',
    'JSONRPC_EXAMPLE_USERNAME' => 'SystemRpcAdmin',
    'JSONRPC_EXAMPLE_PASSWORD' => '',
    //< JsonRpc Client 配置
];